= simple_form_for @profile do |f|
  = @user.full_name

  .form-inputs
    = f.input :age, collection: 0..99, prompt: "Select your age", error: 'Please select your age'
    = f.input :gender, collection: Profile.select_options_for_gender, prompt: "Select your gender", error: 'Please select your gender'
    = f.input :ethnicity, collection: Profile.select_options_for_ethnicity, prompt: "Select your ethnicity", error: 'Please select your ethnicity'
    %p Country
    = f.country_select :country, error: 'Please select a country'
  .form-actions
    = f.button :submit