- if @profile
  .text-center
    %p#notice= notice
    %p
      %b User:
      = @profile.user.full_name
    %p
      %b Age:
      = @profile.age
    %p
      %b Gender:
      = @profile.gender.titleize
    %p
      %b Ethnicity:
      = @profile.ethnicity.titleize
    %p
      %b Country:
      = @profile.country

    = link_to 'Edit', edit_profile_path(@profile) if @profile.user == current_user

- else
.text-center
  = link_to 'Create Profile', new_profile_path unless current_user.profile
