%h1 Listing profiles

%table
  %thead
    %tr
      %th User
      %th Age
      %th Gender
      %th Ethnicity
      %th Country
      %th
      %th
      %th

  %tbody
    - @profiles.each do |profile|
      %tr
        %td= profile.user
        %td= profile.age
        %td= profile.gender
        %td= profile.ethnicity
        %td= profile.country
        %td= link_to 'Show', profile
        %td= link_to 'Edit', edit_profile_path(profile)
        %td= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Profile', new_profile_path
