%p#notice= notice

%p
  %b User:
  = @profile.user.first_name
%p
  %b Age:
  = @profile.age
%p
  %b Gender:
  = @profile.gender.titleize
%p
  %b Ethnicity:
  = @profile.ethnicity.titleize
%p
  %b Country:
  = @profile.country

= link_to 'Edit', edit_profile_path(@profile) if @profile.user == current_user
= link_to 'Back', profiles_path 
