<div class="<%= location %>">
	<%= link_to "Home", root_path %>
	<%= link_to "Surveys", surveys_path %>
	<% admins_only do %>
       <%= link_to "Admin", admin_root_path %>
    <% end %>
    <%= current_user.class %>
</div>