= render "admin/application/sidebar"
.h-96.p-10
  %div
    %dl.mt-5.grid.grid-cols-1.gap-5.sm:grid-cols-6
      .overflow-hidden.rounded-lg.bg-white.px-4.py-5.shadow.sm:p-6
        %dt.truncate.text-sm.font-medium.text-gray-500 Total Users
        %dd.mt-1.text-3xl.font-semibold.tracking-tight.text-gray-900= @users.count
      .overflow-hidden.rounded-lg.bg-white.px-4.py-5.shadow.sm:p-6
        %dt.truncate.text-sm.font-medium.text-gray-500 Total Surveys
        %dd.mt-1.text-3xl.font-semibold.tracking-tight.text-gray-900= @surveys.count
      .overflow-hidden.rounded-lg.bg-white.px-4.py-5.shadow.sm:p-6
        %dt.truncate.text-sm.font-medium.text-gray-500 Total Polls
        %dd.mt-1.text-3xl.font-semibold.tracking-tight.text-gray-900= @polls.count
      .overflow-hidden.rounded-lg.bg-white.px-4.py-5.shadow.sm:p-6
        %dt.truncate.text-sm.font-medium.text-gray-500 Total Enrollments
        %dd.mt-1.text-3xl.font-semibold.tracking-tight.text-gray-900= @enrollments.count
      .overflow-hidden.rounded-lg.bg-white.px-4.py-5.shadow.sm:p-6
        %dt.truncate.text-sm.font-medium.text-gray-500 Total Categories
        %dd.mt-1.text-3xl.font-semibold.tracking-tight.text-gray-900= @categories.count
      .overflow-hidden.rounded-lg.bg-white.px-4.py-5.shadow.sm:p-6
        %dt.truncate.text-sm.font-medium.text-gray-500 Total Cash Reward
        %dd.mt-1.text-3xl.font-semibold.tracking-tight.text-gray-900= number_to_currency(@rewards_cashes)
      .overflow-hidden.rounded-lg.bg-white.px-4.py-5.shadow.sm:p-6
        %dt.truncate.text-sm.font-medium.text-gray-500 Total Experience
        %dd.mt-1.text-3xl.font-semibold.tracking-tight.text-gray-900= "#{@experiences} xp"


