= simple_form_for(@enrollment) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .form-inputs
    = f.association :survey, collection: Survey.order(:survey_name), prompt: "Choose a Survey", label_method: :survey_name 
    = f.association :user, collection: User.where.not(first_name: nil).order(:first_name), prompt: "Choose a Name", label_method: :full_name 
    = f.input :status, collection: Enrollment.statuses.keys.map {|name| [name.titleize, name]}, prompt: "Status"
  .form-actions   
    = f.button :submit

