/ This example requires Tailwind CSS v2.0+
.px-4.sm:px-6.lg:px-8
  .sm:flex.sm:items-center
    .sm:flex-auto
      %h1.text-xl.font-semibold.text-gray-900 Survey Enrollments
      %p.mt-2.text-sm.text-gray-700 A list of all the Enrollments by Survey
  .mt-8.flex.flex-col
    .-my-2.-mx-4.overflow-x-auto.sm:-mx-6.lg:-mx-8
      .inline-block.min-w-full.py-2.align-middle.md:px-6.lg:px-8
        .overflow-hidden.shadow.ring-1.ring-black.ring-opacity-5.md:rounded-lg
          %table.min-w-full.divide-y.divide-gray-300
            %thead.bg-gray-50
              %tr
                %th.pl-4.pr-3.text-left.text-sm.font-semibold.text-gray-900.sm:pl-6{:class => "py-3.5", :scope => "col"} Survey
                %th.px-3.text-left.text-sm.font-semibold.text-gray-900{:class => "py-3.5", :scope => "col"} User
                %th.px-3.text-left.text-sm.font-semibold.text-gray-900{:class => "py-3.5", :scope => "col"} Status
            %tbody.bg-white
              / Odd row
            - @enrollments.each do |enrollment|
              %tr
                %td= link_to enrollment.survey.survey_name, class:".whitespace-nowrap.py-4.pl-4.pr-3.text-sm.font-medium.text-gray-900.sm:pl-6"
                %td= link_to enrollment.user.email, class:".whitespace-nowrap.px-3.py-4.text-sm.text-gray-500" 
                %td= link_to enrollment.status.to_s.titleize, class: ".whitespace-nowrap.px-3.py-4.text-sm.text-gray-500" 
                %td= link_to "Show this enrollment", enrollment, class: ".whitespace-nowrap.px-3.py-4.text-sm.text-gray-500"

%p= link_to "New enrollment", new_enrollment_path
