%p{:style => "color: green"}= notice
%h1 Enrollments
%table.table.table-striped.table-responsive
  %thead
    %tr
      %th Survey
      %th User
      %th Status
      %th{:colspan => "3"}
  %tbody
    - @enrollments.each do |enrollment|
      %tr
        %td= enrollment.survey.survey_name
        %td= enrollment.user.email
        %td= enrollment.status
        %td
          = link_to "Show this enrollment", enrollment
= link_to "New enrollment", new_enrollment_path
