<%= link_to survey_path(survey) do %>
  <div class="card">
    <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "https://picsum.photos/200/100", class: "survey-image" %>
      </div>
      <div class="col-sm-6">
        <h3 class="survey-name"><%= survey.survey_name %></h3>
        <p>
          <span class="survey-reward"><strong>Survey Reward: </strong><%= number_to_currency(survey.cpi) %></span>
        </p>
        <p class="lead-time">
          <span class="survey-start"><%= time_format(survey.start_date) %></span>
          <span class="pull-right">Survey Status: <%= distance_of_time_in_words(survey.created_at, Time.now) %> ago</span>
        </p>
      </div>
    </div>
  </div>
</div>
<% end %>
