.flex.flex-col.relative.block.rounded-sm.border-t-4.border-slate-200.p-8.pb-24.shadow-xl.md:flex-row
  .h5.text-4xl.text-brightGreen.font-bold= "#{number_to_currency(survey.cpi)}"
  .absolute.right-4.top-4= image_tag("low-poly-grid", width: "100px")
  .absolute.left-8.bottom-2.text-md.font-semibold.text-gray-700.mr2.mb-2= "Duration: #{survey.loi} minutes"
  .absolute.right-4.bottom-4.rounded-full.bg-slate-500.px-3.py-1.5.text-xs.text-white.font-medium= survey.category.name


-# .p-6.m-4.max-w-md.mx-auto.bg-white.rounded-xl.shadow-xl.flex.items-center.space-x-10
-#   .shrink-0
-#     %img.h-24.w-25{:alt => "Category", :src => "https://picsum.photos/100"}/
-#     .py-3.px-4.text-gray-600.text-md.text-center= " #{time_ago_in_words(survey.created_at)} ago"
-#   %div
-#     .px-2.pt-1.pb-2
-#     %p.text-2xl.font-bold= survey.survey_name
-#     %p.text-sm.text-indigo-600.font-bold.mb-4.mt-0= link_to survey.category.name
-#     .pt-0.pb-0
-#     %p.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-md.font-semibold.text-gray-700.mr-2.mb-2.cursor-default= "Reward: #{number_to_currency(survey.cpi)}"
-#     %p.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-md.font-semibold.text-gray-700.mr-2.mb-2.cursor-default= "Duration: #{survey.loi}m"
-#     .px-6.pt-4.pb-2
-#     %button{:class => "bg-gradient-to-r from-blue-400 to-slate-500 hover:from-slate-700 hover:to-blue-700 text-white font-bold py-2 px-4 rounded-full"}= link_to 'Show Survey', survey_path(survey)