<div id="<%= dom_id survey %>">

   <p>
    <strong>Survey name:</strong>
    <%= survey.survey_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= survey.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= survey.location %>
  </p>

  <p>
    <strong>Reward for Completing Survey:</strong>
    <%= number_to_currency(survey.cpi) %>
  </p>

  <p>
    <strong>Length of Interview:</strong>
    <%= survey.loi %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= distance_of_time_in_words(survey.created_at, Time.now) %> ago
  </p>

</div>
