%p{:style => "color: green"}= notice
.h1 Categories
%div
  - @categories.each do |category|
    %li{:class => "#{"active" if current_page?("/categories/#{category.id}")}"}
      = link_to category.name, category_path(category)
%h1.text-3xl.font-bold.mb-4.mt-0 Surveys
- @surveys.each do |survey|
  = render survey
= link_to "New survey", new_survey_path