= render "admin/application/sidebar"
.px-4.sm:px-6.lg:px-8
  .sm:flex.sm:items-center
    .sm:flex-auto
      %h1.text-xl.font-semibold.text-gray-900= "Categories: #{@categories.count}"
    .mt-4.sm:mt-0.sm:ml-16.sm:flex-none
    - admins_only do
      %button{:class => "inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto", :type => "button"}= link_to "New Category", new_admin_category_path, class: "new"
  .mt-8.flex.flex-col
    .-my-2.-mx-4.overflow-x-auto.sm:-mx-6.lg:-mx-8
      .inline-block.min-w-full.py-2.align-middle.md:px-6.lg:px-8
        .overflow-hidden.shadow.ring-1.ring-black.ring-opacity-5.md:rounded-lg
          %table.min-w-full.divide-y.divide-gray-300
            %thead.bg-gray-50
              %tr
                %th.pl-4.pr-3.text-left.text-sm.font-semibold.text-gray-900.sm:pl-6{:class => "py-3.5", :scope => "col"} Category ID
                %th.px-3.text-left.text-sm.font-semibold.text-gray-900{:class => "py-3.5", :scope => "col"} Name
                %th.px-3.text-left.text-sm.font-semibold.text-gray-900{:class => "py-3.5", :scope => "col"} Created
                %th.px-3.text-left.text-sm.font-semibold.text-gray-900{:class => "py-3.5", :scope => "col"} Surveys
                %th.px-3.text-left.text-sm.font-semibold.text-gray-900{:class => "py-3.5", :scope => "col"} Summary
            %tbody.divide-y.divide-gray-200.bg-white
            - @categories.each do |category|
              %tr
                %td.whitespace-nowrap.py-4.pl-4.pr-3.text-sm.font-medium.text-gray-900= category.id
                %td.whitespace-nowrap.px-3.py-4.text-sm.text-gray-500= category.name
                %td.whitespace-nowrap.px-3.py-4.text-sm.text-gray-500= time_format(category.created_at)
                %td.whitespace-nowrap.px-3.py-4.text-sm.text-gray-500= link_to "Surveys", category_path(category)
                %td.whitespace-nowrap.px-3.py-4.text-sm.text-gray-500= category.summary

                %td.relative.whitespace-nowrap.py-4.pl-3.pr-4.text-right.text-sm.font-medium.sm:pr-6
                  %a.text-indigo-600= link_to "Edit", edit_admin_category_path(category)
                  %a.text-indigo-600= button_to "Delete", admin_category_path(category), method: :delete, confirm: 'Are you sure?'
%p{:class => "inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto", :type => "button"}= link_to "Back to Dashboard", admin_root_path