/ This example requires Tailwind CSS v2.0+
.px-4.sm:px-6.lg:px-8
  .sm:flex.sm:items-center
    .sm:flex-auto
      %h1.text-xl.font-semibold.text-gray-900 Users
      %p.mt-2.text-sm.text-gray-700 A list of all the users in your account including their name, title, email and role.
    .mt-4.sm:mt-0.sm:ml-16.sm:flex-none
      %button.inline-flex.items-center.justify-center.rounded-md.border.border-transparent.bg-indigo-600.px-4.py-2.text-sm.font-medium.text-white.shadow-sm.hover:bg-indigo-700.focus:outline-none.focus:ring-2.focus:ring-indigo-500.focus:ring-offset-2.sm:w-auto{:type => "button"} Add user
  .mt-8.flex.flex-col
    .-my-2.-mx-4.overflow-x-auto.sm:-mx-6.lg:-mx-8
      .inline-block.min-w-full.py-2.align-middle.md:px-6.lg:px-8
        .overflow-hidden.shadow.ring-1.ring-black.ring-opacity-5.md:rounded-lg
          %table.min-w-full.divide-y.divide-gray-300
            %thead.bg-gray-50
              %tr
                %th.pl-4.pr-3.text-left.text-sm.font-semibold.text-gray-900.sm:pl-6{:class => "py-3.5", :scope => "col"} User ID
                %th.px-3.text-left.text-sm.font-semibold.text-gray-900{:class => "py-3.5", :scope => "col"} Full Name
                %th.px-3.text-left.text-sm.font-semibold.text-gray-900{:class => "py-3.5", :scope => "col"} Email
                %th.px-3.text-left.text-sm.font-semibold.text-gray-900{:class => "py-3.5", :scope => "col"} Surveys
                %th.px-3.text-left.text-sm.font-semibold.text-gray-900{:class => "py-3.5", :scope => "col"} Age
                %th.px-3.text-left.text-sm.font-semibold.text-gray-900{:class => "py-3.5", :scope => "col"} Gender
                %th.relative.pl-3.pr-4.sm:pr-6{:class => "py-3.5", :scope => "col"}
                  %span.sr-only Edit
            %tbody.bg-white
              / Odd row
            - @users.each do |user|
              %tr
                %td.relative.whitespace-nowrap.py-4.pl-3.pr-4.text-right.text-sm.font-medium.sm:pr-6
                %td.whitespace-nowrap.py-4.pl-4.pr-3.text-sm.font-medium.text-gray-900.sm= link_to user.id, admin_user_path(user)
                %td.whitespace-nowrap.py-4.pl-4.pr-3.text-sm.font-medium.text-gray-900.sm= link_to user.full_name, admin_user_path(user)
                %td.whitespace-nowrap.py-4.pl-4.pr-3.text-sm.font-medium.text-gray-900.sm= link_to user.email, admin_user_path(user)
                %td.whitespace-nowrap.py-4.pl-4.pr-3.text-sm.font-medium.text-gray-900.sm= link_to user.organized_surveys.count, user_path(user)
                %td.relative.whitespace-nowrap.py-4.pl-3.pr-4.text-right.text-sm.font-medium.sm
                  %a.text-indigo-600.hover:text-indigo-900{:href => "#"}
                    Edit
            / More people...
%p= link_to "Back to Dashboard", admin_root_path
