%h1 Users page
%table.table.table-striped.table-responsive
	%thead
		%tr
			%th Email
			%th Full name
			%th Surveys
			%th Enrollments
			%th Completed Surveys
	%tbody
		%tr
			%th= @user.email
			%th= @user.full_name
			%th= @user.organized_surveys.count
			%th= @user.enrollments.count
			%th= @user.completed_surveys.count
