<h1>Users page</h1>
<p><%= @user.email %></p>
<p><%= @user.username %></p>
<p><%= @user.organized_surveys.count %></p>
<p><%= @user.completions.count %></p>
<p><%= @user.completed_surveys.count %></p>