!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width,initial-scale=1 shrink-to-fit=no", :name => "viewport"}/
    %title= @page_title
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    %link{:href => "https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css", :rel => "stylesheet"}/
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    %script{:src => "https://cdn.tailwindcss.com"}
    %script{:src => "https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"}
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/1714409f38.js"}
  %body
    .cover-container.d-flex.h-100.mx-auto.flex-column.bg
      %header.masthead.mb-auto
        .inner
          = render "shared/application_nav"
          .container-mt-5     
          = yield
          = render "shared/application_footer"