!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width,initial-scale=1 shrink-to-fit=no", :name => "viewport"}/
    %title= @page_title
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    %script{:src => "https://cdn.tailwindcss.com"}
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/1714409f38.js"}
    = javascript_importmap_tags
  %body
    .cover-container.d-flex.h-100.mx-auto.flex-column.bg
      %header.masthead.mb-auto
        .inner
          = render "shared/application_nav"
          .container-mt-5     
          = yield
          = render "shared/application_footer"
